.button{
  stroke: var(--color-title);
  transition: 250ms;
  border: none !important;

}

.button svg{
  stroke-width: 1px;
}

.button:hover{
  stroke: var(--blue-200);
}

.button.label{
  font-weight: 400;
}

@media (max-width: 795px){
  .button{
    display: none;
  }
}