.button{
  height: 24px;
  width: auto;
  background: unset;
  border: unset;
  color: var(--color-text);
  cursor: pointer;
  opacity: 0.6;
}

.button:hover{
  opacity: 1;
}

.button svg{
  height: 24px;
  width: 24px;
}

@media (max-width: 795px){
  body[data-theme="light"] .button{
    color: var(--gray-200);
  }

  .button::after{
    content: attr(aria-label);
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
  }
}

