::-webkit-scrollbar              { 
    background: var(--color-dar-scrollbar);
    width: 10px;
}

::-webkit-scrollbar-track-piece  {
    background: var(--color-dark-scrollbar);
}

::-webkit-scrollbar-thumb        { 
    background: #353535;
    width: 8px;
    border-radius: 4px;
}