::-webkit-scrollbar              { 
    background: var(--bg-color);
    width: 10px;
    border-left: 1px solid var(--black-400);
}

::-webkit-scrollbar-track-piece  {
}

::-webkit-scrollbar-thumb        { 
    background: var(--blue-200);
    width: 8px;
    border: 2px solid var(--bg-color);
}

::-webkit-scrollbar-corner {
    height: 0px;
}