::-webkit-scrollbar              { 
    background: var(--color-dark);
    width: 10px;
}

::-webkit-scrollbar-track-piece  {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb        { 
    background: var(--color-scrollbar-thumb);
    width: 8px;
    border: 2px solid var(--color-dark);
}