*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


html{
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--color-text);
  font-family: "open sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  font-weight: bold;
}