.loading {
  width: 250px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 9000;

  background: var(--color-dark-paper);
}

.loading .indicator {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--color-gradient);
}
