.Button{
  border: unset;
  cursor: pointer;
  width: 100%;
  height: 52px;
  border: 0;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: 250ms ease-in-out;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.Button, .Button .link[href]{
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  background: transparent;
  color: currentColor;
}

.Button .link{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.height-sm{
  height: 38px
}

/* Button Types */

.Text{
  justify-content: center;
}

.Text .link{
  justify-content: center;
}


.All{
  align-items: center;
  padding-left: 16px;
}

.All svg{
  stroke-width: 1.45px;
  margin-right: 6px;
}

.All span{
  margin-left: 6px;
}


.Icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.Icon .link{
  display: inline;
  min-width: auto;
  width: auto;
  height: auto;
}

.Icon svg{
  position: relative;
  z-index: 2;
}

/* Button Colors */

.primary{
  background: var(--color-gradient);
  color: #fff;
}

.primary:hover{
  animation: transitionGradient 550ms ease-in-out forwards;
}

@keyframes transitionGradient {
  0%{
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  }
  100%{
    background: linear-gradient(to right, var(--color-primary), var(--color-primary));
  }
}

.outline{
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.outline:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -100%;
  animation: SlideIn 250ms linear forwards;
  z-index: 2;
  background: var(--color-primary);
}

@keyframes SlideIn {
  100%{
    left: 0px;
  }
}

.outline:hover{
  color: var(--color-title);
}





/* Sizes */

.sm{
  height: 34px;
  max-width: 140px;
}

.md{
  height: 38px;
  max-width: 210px;
}

.lg{
  height: 44px;
  max-width: 375px;
}

.sl{
  height: 52px;
  max-width: 310px;
}

@media (max-width: 550px){
  .sm{
    min-height: 36px;
    min-width: 180px;
  }
  .md{
    width: 100%;
    max-width: 230px;
  }
}