.Button{
  border: unset;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  height: 52px;
  border: 0;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: 250ms ease-in-out;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

.Button:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  position: absolute;
  top: 0px;
  left: -100%;
  animation: SlideIn 250ms linear forwards;
  z-index: 2;
}

@keyframes SlideIn {
  100%{
    left: 0px;
  }
}

.Button, .Button .link[href]{
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* .Button:hover{
  filter: brightness(0.7);
} */

.Button .link{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.height-sm{
  height: 38px
}



/* Button Types */

.Text{
  justify-content: center;
  color: var(--color-dark-paper);
  background: var(--color-primary);
}

.Text .link{
  justify-content: center;
}


.All{
  align-items: center;
  background: var(--color-secondary);
  padding-left: 16px;
}

.All svg{
  stroke-width: 1.45px;
  margin-right: 6px;
}

.All span{
  margin-left: 6px;
}


.Icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  background: transparent;
  border: 2px solid var(--color-primary);
  width: 100%;
  gap: 8px;
}

.Icon .link{
  display: inline;
  min-width: auto;
  width: auto;
  height: auto;
  color: var(--color-primary);
}

.Icon svg{
  position: relative;
  z-index: 2;
}

.Icon:hover,
.Icon:hover .link{
  color: var(--color-dark-paper);
}