.layout {
  width: 100%;
  height: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 825px) {
    flex-direction: column;
  }

  &>header {
    width: 65px;

    @media screen and (max-width: 825px) {
      height: 65px;
      width: 100%;
    }
  }

  &>main {
    width: calc(100% - 65px);

    @media screen and (max-width: 825px) {
      width: 100%;
      padding-top: 65px;
    }
  }
}