.main{
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: calc(100vw - 72px);
  padding-left: 42px;
  min-height: 100vh;
  overflow: auto;
}

@media (max-width: 790px){
  .main{
    padding-left: 24px;
  }
}

@media (max-width: 990px){
  .main{
    padding: 0;
  }
}

@media (max-width: 768px){
  .main{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    padding: 0;
  }
}

.fadeIn::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: var(--color-dark);  
  z-index: 8888;
}

.fadeIn::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: var(--color-dark);  
  z-index: 8888;
}

.loading{
  width: 250px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden; 
  z-index: 9999;

  background: var(--color-dark-paper);
}

.loading .loadingThumb{
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--color-gradient);
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

.fadeOut{}

@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}