.main{
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: calc(100vw - 65px);
  padding-left: 42px;
  min-height: 100vh;
  overflow: auto;
}

@media (max-width: 790px){
  .main{
    padding-left: 24px;
  }
}

@media (max-width: 990px){
  .main{
    padding: 0;
  }
}

@media (max-width: 768px){
  .main{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    padding: 0;
  }
}