.projects{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  position: relative;
}

.icon{
  position: absolute;
  left: 0px;
  bottom: 10px;
  color: var(--color-toAction);
  border-radius: 3px;
  animation: arrowAnimation 1300ms infinite;
}

.icon svg{
  width: 32px;
  height: 32px;
}

@keyframes arrowAnimation {
  0%{
    bottom: 10px;
  }
  50%{
    bottom: 18px
  }
  100%{
    bottom: 10px
  }
}

.projects .static, .projects .text{
  width: 50%;
}

.projects .content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
  padding-right: 15px;
}

.projects .static{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.projects__cards{
  width: calc(100% + 42px);
  min-height: 100vh;
  background: var(--color-secondary);
  display: flex;
  margin-left: -42px;
  padding: 82px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

/* Add padding e aumenta o height do .projects em dispositivos landscape com telas menores */
@media (max-height: 589px) and (min-width: 769px) and (max-width: 1199px){
  .projects{
    height: auto;
  }
  .projects .static{
    padding: 65px 0;
  }
}

@media (max-width: 1200px){
  .projects .static{
    padding-right: 14px;
  }
}

@media (max-width: 960px){
  .projects{
    flex-direction: column;
    padding: 65px 24px;
    height: auto;
    width: 100%;
  }

  .projects .static, .projects .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .projects .static{
    padding-right: 0;
  }

  .text h2{
    max-width: calc(100% - 12px);
  }

  .projects__cards{
    margin-left: 0;
  }
}

/* Add margin 0 ao h2 para centralizar */
@media (max-width: 768px){
  .text h2{
    margin: 32px auto;
  }
  .projects{
    padding: 65px 12px;
  }
  .projects .content{
    margin-top: 0;
    margin-bottom: 24px;
  }
}


@media (max-width: 550px){

  .projects .text h2{
    margin: 32px auto;
  }

  .projects .text p{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0 0;
    text-align: center;
  }
  .projects__cards{
    width: 100%;
  }
}

@media (max-width: 375px){
  .projects .text p{
    padding: 0;
  }
}