.paragraph{
  width: 100%;
  max-width: 580px;
  color: var(--white-200);
  line-height: 160%;
  font-weight: 300;
}

.paragraph + .paragraph{
  margin-top: 1.6rem;
}

@media screen and (max-width: 480px),  (max-width: 1080px){
  .paragraph{
    max-width: unset;
  }
}