.card{
    width: 330px;
    border-radius: 8px;
    border: 1px solid var(--color-dark-scrollbar);
}

.card-header{
    width: 100%;
    position: relative;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;

}

.card-header img{
    width: 100%;
    height: auto;
    object-fit: fill;
    background: var(--color-dark-scrollbar);
}

.card-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
}

.card-description{
    opacity: 0.5;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.card-main h3 *{
    font-size: 20px;
    color: var(--color-title);
}

.card .card-main button{
    width: 100%;
    max-width: unset;
    background: var(--color-gradient);
    letter-spacing: 0.04em;
}

@media (max-width: 960px){
    .card-header{
        height: unset;
    }
}

@media (max-width: 550px){
    .card{
        width: calc(100% - 16px);
        margin-bottom: 24px;
    }
}