.card{
    width: 328px;
    border-radius: 8px;
    padding-bottom: 8px;
    background: var(--color-bg-card);
}

.card-header{
    width: 100%;
    position: relative;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;

    overflow: hidden;
}

.card-header{
    width: 328px;
    height: 184px;

}


.card-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
}

.card-description{
    opacity: 0.5;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.card-main h3 *{
    font-size: 20px;
    color: var(--color-title);
}

.card .card-main button{
    width: 100%;
    max-width: unset;
    height: 42px;
    background: var(--color-primary);
    letter-spacing: 0.04em;
}

@media (max-width: 960px){
    .card-header{
        height: unset;
    }
}

@media (max-width: 550px){
    .card{
        margin-bottom: 24px;
    }
}