.paragraph{
  margin: 0;
  color: var(--color-text);
  font-size: 16px;
  line-height: 28px;
  width: 100%;
  font-weight: 400;
  max-width: 450px;
}

.paragraph a{
  text-decoration: none;
  color: var(--blue-300);
  font-weight: 500;
}

.paragraph a:hover{
  text-decoration: underline;
}