.paragraph{
  margin: 0;
  color: var(--color-text);
  font-size: 17px;
  line-height: 1.6;
  width: 100%;
  max-width: 445px;
}

.paragraph span{
  font-weight: 500;
  color: #ddd;
}

.paragraph a{
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 500;
  letter-spacing: 0.08rem;
}

.paragraph a:hover{
  text-decoration: underline;
}