:root {
  --gray-400: #B2BBBF;
  --gray-600: #A1A9AD;

  --white-100: #F2F3F7;
  --white-200: #EDF9FF;

  --black-900: #121212;
  --black-800: #121418;
  --black-700: #242628;
  --black-600: #343438;
  --black-100: #919191;

  --pink: #E5B1EE;
  --blue: #25B6FF;

  --carousel-card-border: var(--black-100);

  --background: linear-gradient(90deg, rgba(229, 177, 238, 0.08) 0%, rgba(37, 182, 255, 0.10) 100%), #121212;
  --modal-background: linear-gradient(90deg, rgba(229, 177, 238, 0.01) 0.06%, rgba(37, 182, 255, 0.04) 99.93%), #121212;
  --modal-image-background: linear-gradient(90deg, rgba(229, 177, 238, 0.01) 0.06%, rgba(37, 182, 255, 0.04) 99.93%), #121212;
}