:root {
  --white-100: #F2F3F0;
  --white-200: hsl(80, 11%, 65%);
  --white-300: hsl(80, 11%, 50%);

  --orange-200: #F2D750;
  --orange-600: #D99E30;

  --black-400: #1B1B1A;
  --back-600: #171716;

  --carousel-card-border: var(--black-400);
  --background: var(--back-600);
}