*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body, #root{
  font-size: 1.6rem;
  min-height: 100vh;
  background:  linear-gradient(90deg, rgba(229, 177, 238, 0.08) 0%, rgba(37, 182, 255, 0.10) 100%), #121212;
}

a{
  text-decoration: none;
  color: currentColor;
}

button{
  cursor: pointer;
}