* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --font-family-inter: "Inter", sans-serif;
  --font-family-jost: 'Jost', sans-serif;
  --font-family-roboto: 'Roboto Condensed', sans-serif;

  --header-width: 65px;
  --gap: clamp(16px, 1.5vw + 2rem, 65px);
  --main-grid: calc(100vw - (var(--header-width)));
  --project-thumbnail: #0A1019;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #171716;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(60, 2%, 25%);
  border-radius: 20px;
  border: 3px solid #171716;
}


*{
  scrollbar-width: thin;
  scrollbar-color: hsl(60, 2%, 25%) #171716;
}

html {
  font-size: 62.5%;
}

html,
body{
  height: 100%;
}

body{
  font-size: 1.6rem;
  background: var(--background);
  font-family: var(--font-family-inter);

}

button{
  font-family: var(--font-family-inter);
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

