* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --font-family-inter: "Inter", sans-serif;
  --font-family-jost: 'Jost', sans-serif;
  --font-family-roboto: 'Roboto Condensed', sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body{
  height: 100%;
}

body{
  font-size: 1.6rem;
  background: var(--background);
  font-family: var(--font-family-inter);
}

button{
  font-family: var(--font-family-inter);
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

