.groupButton {
  display: flex;
  gap: 16px;
  margin-top: 4.2rem;
  overflow: visible;
}

@media screen and (max-width: 480px), (min-width: 810px) and (max-width: 1080px) {
  .groupButton {
    margin-top: 2.4rem
  }
}