.layout .container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.layout > .container:last-child {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.layout > *:nth-last-child(2){
  order: 2 !important;
}


.layout > *:last-child{
  order: 3 !important;
}

.contact_email{
  color: var(--orange-200);
  line-height: 120%;
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 42px;
  position: relative;
  display: inline-block;
  transition: .2s;
  margin-bottom: 2.4rem;
}

.contact_email::before{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 0;
  color: var(--white-100);
  content: attr(data-hover);
  transition: max-width .4s;
}

.contact_email:hover::before{
  max-width: 100%;
}

.sociais {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

@media screen and (max-width: 780px){
  main.layout{
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
    min-height: auto;
  }
  .contact_email{
    font-size: 2.4rem
  }

  main.layout > .container{
    width: 100%;
    max-width: 305px;
    display: flex;
    min-height: 225px;
  }
  .layout .container:nth-child(2){
    width: 100%;
    max-width: 50%;
  }
  .layout > .container:last-child {
    height: fit-content;
  }
  .sociais{
    width:100%;
  }
}

@media (max-width: 480px){
  main.layout{
    padding: 0px;
    padding: 42px 15px;
    flex-direction: column;
  }

  .layout > *:nth-last-child(2){
    order: 3;
  }
  
  .layout > *:last-child{
    order: 2;
  }
  
  .layout > *:is(div, h1,nav,ul){
    flex: 0 1 auto;
    min-width: unset !important;
    max-width: unset !important;
    width: calc(100% - 32px);
  }

  .title{
    padding: 0px !important;
  }
  .contact_email{
    font-size: 2.2rem
  }
  .sociais{
    width: calc(100% - 16px);
  }
  
  .layout > .container:last-child{
    height: auto;
    padding-bottom: 3.2rem;
  }
  
}

.sociais .item {
  display: flex;
  width: 100%;
  height: 70px;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1B1B1A;
}

.sociais .item .link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white-200);
  font-weight: 300;
  font-size: 2.4rem;
  padding-left: 16px;
  transition: 200ms linear;
}

.sociais .item .link:hover {
  color: var(--white-100)
}

.sociais .item .link svg {
  width: 52px;
  height: 52px;
  stroke-width: 1px;
  transition: 200ms linear;
}

.sociais .item .link:hover svg{
  transform: translate(4px, -4px);
}