.navigation{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navigation svg{
  width: 26px;
  height: 26px;
  opacity: 0.5;
}

.navigation{
  width: 100%;
}

.navigation ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  gap: 6px;
}

.navigation ul li{
  width: 100%;
  height: 64px;
}

.navigation ul li a{
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-title);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 300ms linear;
  font-size: 13px;
  color: var(--color-text);
}

.navigation ul li a svg{
  stroke-width: 1.45;
  transition: 300ms linear;
}

.navigation ul li a:hover svg{
  opacity: 1;
}


.navigation ul li a[data-display="true"] svg{
  opacity: 1;
  position: relative;
  z-index: 10;
  stroke: var(--color-secondary);
}


@media (max-width: 768px){
  .navigation{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    transform: unset;
  }

  /* Menu aberto */
  .navigation[data-show="true"]{
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 340px;
    background: var(--color-dark-paper);
    z-index: 5000; 
    display: flex;
    padding-top: 65px;
  }


  .navigation ul{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
  }

  .navigation ul li{
    padding-left: 12px;
  }

  .navigation ul li,.navigation ul li a{
    width: auto;
  }

  .navigation ul li a[data-display="true"]{
    opacity: 1;
  }

  .navigation ul li a[data-display="true"]::before{
    content: "";
    width: 5px;
    height: 5px;
    background: var(--color-gradient);
    position: absolute;
    top: 50%;
    left: -6px;
    transform: translate(-50%);
    border-radius: 50%;
  }

  /* Add o nome do ícone ao menu */
  .navigation ul li a::after{
    content: attr(aria-label);
    color: var(--color-title);
    padding-left: 12px;
    opacity: 0.5;
    letter-spacing: 0.12rem;
    font-weight: bold;
  }

  .navigation ul li a[data-display="true"]:after{
    opacity: 1;
  }

  .navigation ul li a:hover{
    background: transparent;
  }
}