.header{
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  padding: 12px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid var(--color-border);
  grid-area: header;
}

.header .link{
  color: var(--color-text);
  text-decoration: none;
  transition: 0.3s linear;
}

.header .link svg{
  width: 26px;
  height: 26px;
}

.header .link:hover{
  opacity: 1;
  color: var(--color-secondary);
}

.buttonNavigation{
  display: none;
}

@media (max-width: 990px){
  .main{
    padding: 0;
  }
}

@media (max-width: 795px){
  .header {
    height: var(--header-mobile-height);
    padding: 0 16px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    border-right: unset;
    border-bottom: 1px solid var(--color-border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--color-dark);
  }
  
  .buttonNavigation{
    display: block;
    height: 36px;
    width: 36px ;
    border: unset;
    cursor: pointer;
    position: relative;
    z-index: 8000;
    background: transparent;
    opacity: 0.8;
    transition: 300ms linear;
  }

  .buttonNavigation:hover,
  .buttonNavigation:active{
    opacity: 1;
  }

  .buttonNavigation svg{
    width: 100%;
    max-width: 16px;
    height: auto;
  }

  .buttonNavigation[data-show="true"] svg{
    stroke: var(--color-title);
  }
}