.layout {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: var(--header-width) var(--main-grid);
  grid-template-areas: "header main";
  overflow: hidden;
  height: 100vh;
}

.layout > *:not(header){
  opacity: 0;
  animation: onload 1s linear forwards;
}

@keyframes onload{
  to{
    opacity: 1;
  }
}


.layout > main{
  grid-area: "main";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  padding-left: var(--gap);
}


@media screen and (max-width: 480px), (max-width: 1080px){
  .layout {
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "main";
    padding-top: 65px;
    height: 100%;
  }

  .layout > main{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 48px;
    justify-content: unset;
  }

  .layout > header{
    flex-direction: row;
  }

  .layout > main > h2{
    flex: 0 1 auto;
    padding-bottom: 4.8rem;
  }
} 