.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}


.section .apresentation {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.apresentation p {
  font-size: 16px;
  color: var(--color-text);
  letter-spacing: 0.7px;
  margin-bottom: 8px;
}

.apresentation h2 + p{
  margin: 18px 0;
  color: var(--color-text);
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.6;
  max-width: 445px;
}

.apresentation .icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  letter-spacing: 0.05rem;
  font-weight: 500;
  color: var(--color-secondary);
  font-size: 20px;
}

.apresentation .icon svg{
  stroke: var(--color-secondary);
  width: 20px;
  height: 20px;
  stroke-width: 2;
  margin-left: 6px;
  transition: 0.25s ease-in-out;
}

.apresentation .icon:hover svg{
  transform: translateX(16px);
}

.section .projects {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.projects h2 {
  font-size: 1.2rem;
  color: #888;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-bottom: 40px;
}


.projects ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

.projects ul li{
  width: 250px;

  height: 50px;

}


@media (max-width: 768px){
  .section{
    flex-direction: column;
    padding: 75px 0;
  }
  .section .apresentation, .section .projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .section .projects{
    padding-top: 24px;
  }

  .section .apresentation h2 {
    text-align: center;
    width: 100%;
    max-width: calc(100% - 24px);
  }

  .apresentation h2 + p{
    margin: 18px auto;
    text-align: center;
    max-width: calc(100% - 24px);
  }
}

@media (max-width: 550px){
  .section{
    padding: 65px 0;
  }

  .section .apresentation h2{
    margin: 32px 0;
  }
}