.content{
  --header-mobile-height: 72px;
  display: grid;
  grid-template-columns: 72px 1fr;
  grid-template-areas: 'header content';
}

@media (max-width: 795px){
  .content{
    padding-top: var(--header-mobile-height);
    grid-template-columns: unset;
    grid-template-rows: auto auto;
    grid-template-areas: 'header' 'content';
  }
}