.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.me__text{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.me__text h2 {
  font-size: 2rem;
  display: block;
  max-width: 420px;
  word-wrap: break-word;
  font-weight: 500;
  letter-spacing: 0.07rem;
}


.me__text p {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.7px;
  margin-bottom: 8px;
}

.me__text p{
  margin: 18px 0;
  color: var(--color-text);
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.6;
  max-width: 445px;
}

.tech{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: auto;
  margin-top: 32px;
}

.card_tech{
 
  max-width: 100px;
  width: 120px;

}

.card_tech img{
  width: 40px;
  height: 40px;
}


/* Imagem */
.me__image{
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.me_img{
  max-width: 300px;

  display: block;
  height: 300px;
  border: 8px solid var(--color-primary);
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(100%);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s linear;
  padding: 15px;
}

.me_img:hover{
  filter: grayscale(0%);
  transform: scale(1.1) rotate(1deg);
}

.me_img img{
  border-radius: 50%;
  overflow: hidden;
}

