.projects{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}


.projects .static, .projects .text{
  width: 50%;
}

.projects .static{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.card{
  height: auto;
  min-height: 100px;
  width: 540px;
  border-radius: 8px;
  background: var(--color-primary);
  padding: 32px;
  transition: 0.2s linear;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__icon{
  height: 100%;
  width: 64px;
  min-height: 100px;
  padding-top: 4px;
}

.card__main{
  height: 100%;
  width: calc(100% - 64px);
  min-width: 320px;
  min-height: 100px;
}


.card:hover{
  transform: translateY(-5px);
}

.card-header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6px;
}

.card-header svg{
  stroke-width: 1.7;
}

.card-header h3, .card-header svg{
  color: var(--color-text-light);
  stroke: var(--color-text-light);
  font-family: 'Roboto Mono', monospace;
}

.card-body{
  color: var(--color-text-light);

  font-size: 16px;
  letter-spacing: 0.062rem;
}

.card-footer a{
  color: var(--color-text-light);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.card-footer a:hover{
  text-decoration: underline;
}

.text h2{
  font-size: 2rem;
  display: block;
  max-width: 420px;
  word-wrap: break-word;
  font-weight: 500;
  letter-spacing: 0.07rem;
  
}



.projects__cards{
  width: calc(100% + 42px);
  min-height: 100vh;
  background: var(--color-dark-paper);
  display: flex;
  margin-left: -42px;
  padding: 82px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;

}

/* Add pading e aumenta o height do .projects em dispositivos landscape com telas menores */
@media (max-height: 589px) and (min-width: 769px) and (max-width: 1199px){
  .projects{
    height: auto;
  }
  .projects .static{
    padding: 65px 0;
  }
}

@media (max-width: 1200px){
  .projects .static{
    padding-right: 14px;
  }
  .card{
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .card__icon{
    min-height: unset;
  }
}

@media (max-width: 960px){
  .projects{
    flex-direction: column;
    padding: 65px 0;
    height: auto;
    margin-left: 0;
    width: 100%;
  }

  .projects .static, .projects .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .projects .static{
    padding-right: 0;
  }

  .text h2{
    max-width: calc(100% - 12px);
  }

  .card{
    margin: 0;
  }
}

/* Add margin 0 ao h2 para centralizar */
@media (max-width: 768px){
  .text h2{
    margin: 32px auto;
  }
  .projects{
    padding: 65px 24px;
  }
}


@media (max-width: 550px){

  .projects .text h2{
    margin: 32px auto;
  }

  .projects .text p{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    text-align: center;
  }

  .card{
    padding: 24px;
  }
  
  .card__icon{
    height: auto;
    width: 64px;
    min-height: unset;
    padding-top: 4px;
  }
  
  .card__main{
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: 100px;
  }
}

@media (max-width: 375px){
  .projects .text p{
    padding: 0;
  }

  .card__main{
    min-width: unset;
    overflow-wrap: break-word;
  }
}