.paragraph{
  margin: 18px 0;
  color: var(--color-text);
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.6;
  max-width: 445px;
}

.paragraph span{
  font-weight: 500;
  color: #ddd;
}

.paragraph a{
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 500;
  letter-spacing: 0.08rem;
}

.paragraph a:hover{
  text-decoration: underline;
}

@media (max-width: 768px){
  .paragraph{
    max-width: calc(100% - 24px);
    margin: 18px auto;
  }
}

@media (max-width: 375px){
  .paragraph{
    width: 100%;
    margin: 12px auto;
  }
}