.paragraph{
  width: 100%;
  max-width: 580px;
  color: var(--white-200);
  line-height: 160%;
  font-weight: 300;

  @media screen and (max-width: 825px) {
    text-align: center;
    max-width: unset;
  }
}

.paragraph + .paragraph{
  margin-top: 1.6rem;
}