.wrapper {
  position: fixed;
  width: 100vw !important;
  height: 100vh;
  inset: 0;
  left: 0px;
  background: rgba(2, 2, 2, 0.80);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  border-radius: 16px;
  border: 1px solid rgba(229, 177, 238, 0.24);
  background: var(--modal-background);
  backdrop-filter: blur(7.5px);
  display: flex;
  padding: 36px 32px;
  flex-direction: column;
  gap: 28px;
  width: 605px;
  max-height: 570px;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  animation: showing 340ms ease-in-out;
}

.modal::before {
  content: "";
  border-radius: 691px;
  background: linear-gradient(221deg, rgba(37, 182, 255, 0.05) 29.28%, rgba(217, 217, 217, 0.00) 76.62%);
  filter: blur(16px);
  width: 691px;
  height: 691px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.modal img {
  width: 100%;
  height: auto;
}

.modal .header,
.modal .main,
.modal .footer {
  width: 100%;
  display: flex;
  color: var(--white-100);
  z-index: 10;
}

.modal .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

.modal .header .title {
  font-size: 3.0rem;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  line-height: 120%;
  width: calc(100% - 61px);
  max-width: 420px;
  text-transform: capitalize;
}

.modal .header .description {
  font-weight: 300;
  line-height: 160%;
  width: calc(100% - 61px);
  max-width: 420px;
}

.container__button {
  width: 61px;
  height: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: start;
  right: 0px;
}


.modal .header button,
.modal .header button a {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white-100);
  background: transparent;
  border: 1px solid var(--white-100);
}

.modal .header button a svg {
  transition: 250ms linear;
}

.modal .header button a:hover svg {
  transform: translate(2px, -2px);
}

.modal .header button a svg {
  width: 36px;
  height: 36px;
  stroke-width: 1.5px;
}



.modal .main {
  flex-direction: column;
  gap: 16px;
}

.modal .main img {
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  background: var(--modal-image-background);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLXBob3RvLW9mZiIgd2lkdGg9IjQ0IiBoZWlnaHQ9IjQ0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2U9IiMzMjMyMzIiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+CiAgPHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+CiAgPHBhdGggZD0iTTE1IDhoLjAxIiAvPgogIDxwYXRoIGQ9Ik03IDNoMTFhMyAzIDAgMCAxIDMgM3YxMW0tLjg1NiAzLjA5OWEyLjk5MSAyLjk5MSAwIDAgMSAtMi4xNDQgLjkwMWgtMTJhMyAzIDAgMCAxIC0zIC0zdi0xMmMwIC0uODQ1IC4zNDkgLTEuNjA4IC45MSAtMi4xNTMiIC8+CiAgPHBhdGggZD0iTTMgMTZsNSAtNWMuOTI4IC0uODkzIDIuMDcyIC0uODkzIDMgMGw1IDUiIC8+CiAgPHBhdGggZD0iTTE2LjMzIDEyLjMzOGMuNTc0IC0uMDU0IDEuMTU1IC4xNjYgMS42NyAuNjYybDMgMyIgLz4KICA8cGF0aCBkPSJNMyAzbDE4IDE4IiAvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
}

.modal .main .message {
  font-weight: 300;
  line-height: 160%;
}

.modal .main .message a {
  text-decoration: none;
  color: var(--blue);
}

.modal .main .message a:hover {
  text-decoration: underline;
}

.modal .footer {
  width: 100%;
  justify-content: center;
}

.modal .footer button {
  color: var(--white-100);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid var(--black-600);
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 40px;
}

@keyframes showing {
  0% {
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}



@media screen and (max-width: 610px) {
  .modal {
    width: calc(100% - 32px);
    max-width: unset;
    padding: 24px 16px;
    gap: 24px;
  }

  .modal .header {
    height: auto;
    flex-direction: column;
    position: relative;
  }

  .modal .header .title {
    width: calc(100% - 51px);
    min-height: 51px;
    align-items: center;
    display: flex;
  }

  .modal .header .description {
    width: 100%
  }

  .container__button {
    width: 51px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .modal .header button,
  .modal .header button a {
    width: 51px;
    height: 51px;
  }

  .modal .main img{
    height: 162px;
  }
}