.header{
  width: 65px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
  border-right: 1px solid rgba(229, 177, 238,0.25);
}