.toggleMenu {
  --is-mobile: false;
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  width: 100%;
}

.Link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  text-decoration: none;
  color: var(--white-300);
  background-color: transparent;
  transition: background 250ms linear;
}

.Link:hover svg {
  stroke: var(--white-100);
}

.Link[data-active="true"] {
  background-color: #1B1B1A;
}

.Link[data-active="true"] svg {
  stroke: #F2D750af;
}

.Link svg {
  width: 24px;
  height: 24px;
  stroke-width: 1.2px;
}



@media screen and (max-width: 480px), (max-width: 780px){
  /* 
  * Button toggle menu visibility
  */
  .toggleMenu {
    --is-mobile: true;
    width: 32px;
    height: 24px;
    background: transparent;
    border: none;
    position: relative;
    display: flex;
    z-index: 5000;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Hidden text content */
  .toggleMenu span {
    clip-path: (1, 1, 1, 1);
    overflow: hidden;
    position: absolute;
    opacity: 0;
  }
 
  .toggleMenu{
    &::before,
    &::after{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--white-300);
      display: block;
      position: absolute;
      transform-origin: center;
      transition: 0.15ms ease
    }

    &::before{
      transform: translateY(-4px);
    }

    &::after{
      transform: translateY(4px);
    }

    &[data-open="true"]{
      &::before{
        transform: rotate(45deg);
      }
  
      &::after{
        transform: rotate(-45deg);
      }
    }
  }
 

  /* 
  * Menu
  */
  .menu[data-visibility] {
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 4000;
    background: rgba(10, 10, 10, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-10000px, -10000px);
  }

  .menu[data-visibility="false"] {
    animation: closeMenu 250ms linear forwards;
  }

  .menu[data-visibility="true"] {
    animation: showMenu 250ms linear forwards;
    gap: 48px;
  }

  .menu[data-visibility="true"] .item {
    width: auto;
  }

  .Link {
    width: 100%;
    height: auto;
  }

  .Link::after {
    content: attr(title);
    width: 100%;
    height: auto;
    font-size: 2.4rem;
    text-transform: capitalize;
  }

  .Link[data-active="true"] {
    background-color: unset;
    color: var(--white-100);
  }

  .menu a.Link:hover {
    background-color: unset;
    color: var(--white-100);
  }

  .menu[data-visibility="true"] svg {
    display: none;
  }
}







/* 
* MENU CONTAINER ANIMATION
*/

/* Animation to close the menu  */
@keyframes closeMenu {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(-10000px, -10000px);
    opacity: 0;
  }
}

/* Animation to open the menu */
@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
