:root{

  --color-dark:#131314;
  --color-dark-paper: #171717;
  --color-dark-scrollbar: #212121;

  --red: #ff7979;
  --green: #20bf6b;
  --blue: #2d98da;


  --color-primary: #1F64BF;
  --color-secondary: #70a1ff;

  --color-title: #ececed;
  --color-text: #aaaaaf;
  --color-text-light: #ddd;

  --color-gradient: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}