:root{

  --color-dark:#121215;
  --color-dark-paper: #17171d;
  --color-dark-scrollbar: #212121;

  --color-bg-card: #24242f;
  --color-line: #34343f;

  /* --red: #ff7979;
  --green: #20bf6b;
  --blue: #2d98da; */


  --color-primary: #1F64BF;
  --color-secondary: #70a1ff;

  --color-title: #efefff;
  --color-text: #efefffaa;

  --color-link-accessibility: #F50057;

  --color-gradient: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

section{
  animation: fadeIn 300ms forwards linear;
}