:root{
  --color-bg-scrollbar: #333;
  --color-scrollbar-thumb: #555555;

  --color-dark:#121215;
  --color-dark-paper: #17171d;

  --color-bg-card: #24242f;
  --color-line: #34343f;


  --color-primary: #1F64BF;
  --color-secondary: #70a1ff;

  --color-title: #efefff;
  --color-text: #efefffaa;

  --color-link-accessibility: #F50057;

  --color-gradient: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}