.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas: 'content image';

  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 795px){
  .section{
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-template-areas: 'image' 'content';
    margin-top: 16px;
    padding-left: 0px;
  }
}

.content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  grid-area: content;
}

.content p{
  margin: 0;
  color: var(--color-text);
  line-height: 1.6;
  max-width: 480px;
}

.content .tech{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: auto;
  margin-top: 32px;
}

.content .card_tech{
  max-width: 100px;
  width: 120px;
}

.image{
  display: flex;
  justify-content: center;
  grid-area: image;
  position: relative;
}

@media (max-width: 990px){
  .section{
    padding: 75px 24px;
  }
}


@media (max-width: 550px){
  .section{
    padding: 65px 0;
  }

  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .content h2{
    margin: 32px 0;
  }
  .content p{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    text-align: center;
  }

  .content .card_tech{
    max-width: 90px;
  }
}