.carroucel{
  display: flex;
  flex-direction: row;
  width: 0px;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  height: calc(400px + 10px);
  border-radius: 8px;
  overflow-x: hidden;
  touch-action: pan-y;
  scroll-snap-type: y mandatory;
  animation: carouselShowIn 250ms linear forwards;
  animation-delay: 250ms;
  transform-origin: right;
}

@keyframes carouselShowIn{
  to{
    width: 680px;
  }
}

@media screen and (max-width: 480px),  (max-width: 1080px){
  .carroucel{
    width: 680px;
  }
}

.carroucel > div[data-type="card"]{
  /* left: suaviza a transição do scroll; margin: suaviza a transição durante o hover */
  transition: left 300ms linear, margin 250ms linear;
}
