.carroucel{
  display: flex;
  flex-direction: row;
  width: 680px;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  height: calc(400px + 10px);
  border-radius: 8px;
  overflow-x: hidden;
  touch-action: pan-y;
  scroll-snap-type: y mandatory;

}

@media screen and (max-width: 480px),  (max-width: 1080px){
  .carroucel{
    width: 680px;
  }
}

.carroucel:has(.active) *:hover,
.carroucel:has(.active) *{
  transform: unset !important;
}

.carroucel > div[data-type="card"]{
  transition: left 300ms  linear;
}
