.cardblue{
  background-color: linear-gradient(to right bottom,#171716, #1B1B1A);
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #1B1B1A; 
  color: var(--white-100);
}

.cardblue > svg{
  display: flex;
  position: absolute;
  bottom: -118px;
  left: -40px;
  width: 245px;
  height: 245px;
  flex-shrink: 0;
  opacity: 0.8;
  filter: blur(150px);
}

.cardblue .url{
 
  position: relative;
  z-index: 10;
  transition: 250ms linear;
  color: var(--white-100);
  border-color: var(--white-100);
}

.cardblue .url:hover{
  color: var(--black-400);
  background: var(--white-100);
  border-color: var(--white-100); 
}
