.layout {
  position: relative;
}

.container{
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.layout > .container:first-child{
  min-width: 720px;
}

.layout h2 {
  text-transform: unset;
}

.layout > h2.title{
  flex: revert;
}

.layout p {
  max-width: 540px;
}

.container:last-child{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  height: auto;
  min-height: 0px;
  max-width: none;
  width: auto
}

.layout > .container:last-child img{
  width: 100%;
  max-width: 62.22vw;
  height: auto
}

.layout > .container > div{
  margin-inline: auto;
}

.layout > .container div.groupButtons{
  margin: 0px;
  margin-top: 4.2rem;
}

.button{
  min-height: 48px;
}

@media screen and (max-width: 480px),  (max-width: 1080px){
  .layout .container{
    width: calc(100% - 32px);
    max-width: 100vw;
    height: auto;
    flex-wrap: wrap;
    min-width: 0px !important;
    position: static;
    flex-wrap: wrap;
    transform: unset;
  }

  .layout h2 {
    text-align: center;
    margin-bottom: unset;
  }

  #pageError p {
    text-align: center;
  }

  #pageError button{
    margin: 0 auto;
  }

  #pageError > *:nth-child(1){
    order: 2
  }
  #pageError > *:nth-child(2){
    order: 3
  }
  #pageError > *:nth-child(3){
    order: 1
  }

  .layout > .container:last-child{
    position: static;
    max-width: 276px;
    overflow: hidden;
    max-height: 173px;
  }

  .layout > .container:last-child img{
    max-width: 346px;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    top: -26px
  }
}