.card {
  height: auto;
  min-height: 100px;
  width: 540px;
  border-radius: 8px;
  background: transparent;

  padding: 24px 16px;
  transition: 0.2s linear;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: 1px solid var(--color-line);
}

.card-icon {
  height: 100%;
  width: 64px;
  min-height: 100px;
  padding-top: 4px;
  color: var(--color-title);
}

.card-wrapper {
  height: 100%;
  width: calc(100% - 64px);
  min-width: 320px;
  min-height: 100px;
}

.card-content{
  color: var(--color-text);
  letter-spacing: 0.02rem;
  font-size: 15px;
  line-height: 1.5rem;
}

.card:hover {
  transform: translateY(-5px);
  cursor: default;
}


.card-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6px;
  color: var(--color-title);
}


@media (max-width: 1200px) {
  .card {
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    max-width: 100%;
  }

  .card-icon {
    min-height: unset;
  }
}

@media (max-width: 960px) {
  .card {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {

  .card {
    padding: 24px;
  }

  .card-icon {
    height: auto;
    width: 64px;
    min-height: unset;
    padding-top: 4px;
  }

  .card-Wrapper {
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: 100px;
  }

}

@media (max-width: 375px) {
  .card-wrapper {
    min-width: unset;
    overflow-wrap: break-word;
  }
}