.container {
  --card-size: 83px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  width: calc((var(--card-size) * 3) + (32px * 3));
}

@media screen and (max-width: 920px){
  .container{
    --card-size: 64px;
    gap: 28px
  }
}

.card {
  width: var(--card-size);
  height: var(--card-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(229, 177, 238, 0.08) 0%, rgba(37, 182, 255, 0.10) 100%);
  position: relative;
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px 1px;
  top: 0px;
  left: 0px;
  width: var(--card-size);
  height: var(--card-size);
  background: linear-gradient(#EDF9FF70, #EDF9FF00, #EDF9FF70);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
  z-index: 2;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(229, 177, 238, 0.08) 0%, rgba(37, 182, 255, 0.10) 100%);
  z-index: -1;
  width: var(--card-size);
  height: var(--card-size);
  left: 1px;
  top: 1px;
}

.card:nth-child(2) {
  margin-top: 32px;
}

.card:nth-child(3) {
  margin-top: 64px;
}

.card:nth-child(4),
.card:nth-child(7) {
  margin-top: -64px;
}

.card:nth-child(5),
.card:nth-child(8) {
  margin-top: -32px;
}