.slider{
  display: flex;
  flex-direction: row;
  width: 680px;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  height: calc(400px + 10px);
  border-radius: 8px;
  overflow-x: hidden;
  touch-action: pan-y;
}

@media screen and (max-width: 480px), (min-width: 810px) and (max-width: 1080px){
  .slider{
    width: 680px;
  }
}

.slider:has(.active) *:hover,
.slider:has(.active) *{
  transform: unset !important;
}

.slider.transitionOn *[data-type="card"]{
  transition: left 0.5s ease-out;
}

.slider > *:last-child{
  opacity: 0;
}