.slider{
  display: flex;
  flex-direction: row;
  width: 680px;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  height: 400px;
  scroll-snap-type: x mandatory;
  border-radius: 8px;
  overflow-y: visible;
}

.slider:has(.active) *:hover,
.slider:has(.active) *{
  transform: unset !important;
}
