.brand{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.brand a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a img{
  width: 24px;
  height: 24px;
}

@media (max-width: 550px){
  .brand{
    margin-top: 0px;
  }
}