.brand{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  position: relative;
  z-index: 8000;
}

.brand a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a img{
  width: 24px;
  height: 24px;
}

@media (max-width: 550px){
  .brand{
    margin-top: 0px;
    width: 36px;
    height: 36px;
  }
}